<input type="button" value="Очистити дані" (click)="clearData()"/>
<label>Введіть значення швидкості</label>
<input type="text" name="speedValue" [(ngModel)]="currentInputSpeed"/>
<input type="button" (click)="addSpeed()" value="Ввести"/>
<label *ngFor="let speed of speeds">{{speed}}</label>
<input type="button" (click)="calculatePairComparisonMatrix()" value="Обчислити значення матриці попарних порівнянь"/>
<div *ngIf="expertBlock">
  <label>Виберіть перевагу швидкості {{this.getMaxSpeed()}} над іншими</label>
  <table>
    <tr *ngFor="let speed of speeds; let i = index">
      <td>{{speed}}</td>
      <td>
        <select [(ngModel)]="expertCoefficient[i]">
          <option *ngFor="let point of [1, 2, 3, 4, 5, 6, 7, 8, 9]; let i = index">
            {{point}}
          </option>
        </select>
      </td>
    </tr>
  </table>
  <input type="button" (click)="show()" value="Показати матрицю порівнянь">
</div>
<div id="matrix" *ngIf="comparisonBlock">
  <table>
    <tr>
      <td></td>
      <td *ngFor="let speed of speeds">{{speed}}</td>
    </tr>
    <tr *ngFor="let speed of speeds; let i = index">
      <td>{{speed}}</td>
      <td *ngFor="let coef of pairComparisonMatrix[i]">{{coef}}</td>
    </tr>
    <tr *ngFor="let i of [0, 1, 2]">
      <td></td>
      <td *ngFor="let coef of pairComparisonMatrix[speeds.length + i]">{{coef}}</td>
    </tr>
  </table>
  <input type="button" (click)="setPlotData()" value="Намалювати графік">
</div>
<div id="graphic" *ngIf="graph">
  <plotly-plot [data]="this.plotData" [layout]="this.plotLayout"></plotly-plot>
</div>
